# Editor configuration normalization
# @see http://editorconfig.org/

# Top-most editorconfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# CSS & JavaScript files
[*.{css,scss,js}]
indent_style = tab

# WordPress
[side/**.{css,scss,js,php}]
indent_style = tab
