# General web stuff
/.htaccess
/robots.txt
/sitemap.xml

# Vagrant VM
.vagrant/*

# Dynamic Magento data that doesn't need to be in the repo
/var/*
/media/*
/downloader/pearlib/cache/*
/downloader/pearlib/download/*
/app/etc/use_cache.ser
/app/etc/local.xml
/errors/local.xml

# Various IDE &#038; OS files that should never be committed
.DS_Store
.sass-cache/
*.swp
*.lock
__MACOSX
.idea
/nbproject/*
.project
.buildpath
.thumbs
Thumbs.db
build.properties
.project
.settings
.buildpath
/_notes/*
config.codekit
*.sublime-project
*.sublime-workspace
.modman/

# Explicitly mark as "do not exclude/ignore these from GIT repository"
!/app/.htaccess
!/downloader/.htaccess
!/downloader/template/.htaccess
!/errors/.htaccess
!/includes/.htaccess
!/lib/.htaccess
!/media/.htaccess
!/media/customer/.htaccess
!/media/downloadable/.htaccess
!/pkginfo/.htaccess
!/var/.htaccess
!var/package/
